{% extends 'frame.html' %}

{% block rail %}

    <style>
    #nav li.nav-signout a:before { content:"\f08b"; }
    </style>

    <nav id="nav">
        <ul>
            {% block nav %}
            <li class="nav-account"><a href="{{ link.to(':admin/section') }}">{{ "Account"|t }}</a></li>
            {% endblock %}
        </ul>
        <ul class="last">
            <li class="nav-signout"><a target="_top" href="{{ link.to(':admin/logout') }}">{{ "Sign out"|t }}</a></li>
        </ul>
    </nav>

{% endblock %}
