{% extends 'layout.html' %}

{% block title %}{{ "Categories"|t }}{% endblock %}

{% block container %}
<section class="modal">

	<form method="get" action="{{ link.to(':create') }}">
		
		<h2>{{ block('title') }}</h2>
		<p>{{ "You don't have any categories created yet. Create your first one right now."|t }}</p>
		<div class="buttons" style="margin-top:15px;">
			<button class="primary" type="submit">{{ "Create your first category"|t }}&hellip;</button>
		</div>
		
	</form>

</section>
{% endblock %}
