//  Includes
//  ------------------------------------------------------------  //


@import 'reset.less';        // css reset
@import 'fonts.less';        // fonts
@import 'variables.less';    // variables
@import 'mixins.less';       // css3 & other mixins
@import 'scaffolding.less';  // defaults


//  Defaults
//  ------------------------------------------------------------  //


html, body {
    overflow:hidden;
    width:100%;
    height:100%;
}


//  Sidebar
//  ------------------------------------------------------------  //


@railBackgroundColor: mix(#06c, #fff, 3.5%);

#rail {
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    width:@railWidth;
    height:auto;
    background:@railBackgroundColor;
    border-right:1px solid fade(#06c, 6.5%);
    //border-right:1px solid #d5e7f7;
    margin-left:-1px;
    overflow-y:auto;
    & > .inner {
        padding:@marginHeight @marginWidth;
    }
    .section {
        position:relative;
        margin-bottom:@gutterHeight;
        a.more-button {
            position:absolute;
            right:0;
            top:(@baseLineHeight - 18px) / 2;
            text-shadow:none;
            text-decoration:none;
            display:inline-block;
            padding:0 4px;
            font-size:12px;
            line-height:18px;
            height:18px;
            text-transform:uppercase;
            font-style:normal;
            background:@gray;
            color:@white;
            .borderRadius(2px);
            display:none;
            &:hover {
                background-color:@red;
                background-color:#000;
            }
        }
        &:hover {
            a.more-button {
                display:inline-block;
            }
        }
        & > ul {
            margin-left:-@marginWidth;
            margin-right:-@marginWidth;
        }
    }
}


a {
    color:@accentColor;
    text-decoration:none;
    &:hover {
        text-decoration:underline;
    }
}


h2, h3 {
    position:relative;
    padding-left:21px;
    color:mix(@textColor, @railBackgroundColor, 35%);
    text-shadow:0 1px 0 fade(#fff, 85%);
    height:@baseLineHeight;
}
h2 {
    background-position:0 4px;
    background-repeat:no-repeat;
    margin-top:@baseLineHeight;
    &:first-child {
        margin-top:0;
    }
    a {
        color:inherit;
        &:hover {
            color:@accentColor;
            text-shadow:none;
        }
    }
}
h3 {
    margin-top:@baseFontSize;
    &.unlinked {
        &:before {
            font-family:'FontAwesome';
            content:"\f127";
            position:absolute;
            left:2px;
            top:0;
        }
    }
}
ul {
    margin-top:round(@baseLineHeight / 3);
    ul {
        margin:0;
    }
    li {
        position:relative;
        background:url(../img/subpath.png) 0 2px no-repeat;
        a {
            display:block;
            font-size:14px;
            height:@baseLineHeight;
            border:1px solid transparent;
            border-width:1px 0;
            .animate(none);
            &:hover {
                text-decoration:none;
                background-color:desaturate(fade(#06c, 6.5%), 100%);
                border-color:desaturate(fade(#06c, 6.5%), 100%);
            }
        }
        /* */
        &.active > a {
            background-color:fade(#06c, 6.5%);
            border-color:fade(#06c, 6.5%);
        }
        /* */
        &.level-0 {
            background-position:@marginWidth 2px;
            a {
                padding-left:@marginWidth + 21px;
            }
        }
        &.level-1 {
            background-position:@marginWidth + 21px 2px;
            a {
                padding-left:@marginWidth + 42px;
            }
        }
        &.level-2 {
            background-position:@marginWidth + 42px 2px;
            a {
                padding-left:@marginWidth + 63px;
            }
        }
    }
}
div.newitem {
    padding-left:21px;
    background:url(../img/subpath.png) 0 2px no-repeat;
    a {
        font-style:italic;
        color:mix(@textColor, #fafafa, 35%);
        &:hover {
            color:@linkColor;
        }
    }
}


//  Main
//  ------------------------------------------------------------  //


#main {
    position:fixed;
    left:@railWidth;
    right:0;
    top:0;
    bottom:0;
    height:auto;
    iframe {
        width:100%;
        height:100%;
    }
}