// Grid
// ------------------------------------------------------------ //

@railWidth: 17%;
@sideWidth: 27%;
@mainWidth: 100% - @railWidth;

html, body {
    height:100%;
}

.row {
    margin-left:-@gutterWidth;
    .clearfix();
    & > * {
        float:left;
        padding-left:@gutterWidth;
        margin:0 !important;
        -webkit-box-sizing:border-box;
         -khtml-box-sizing:border-box;
           -moz-box-sizing:border-box;
            -ms-box-sizing:border-box;
                box-sizing:border-box;
    }
    &.cols2 {
        & > * {
            width:50%;
        }
    }
}

#container {
    padding:@gutterWidth;
    /*
    position:relative;
    min-height:100%;
    -webkit-box-sizing:border-box;
     -khtml-box-sizing:border-box;
       -moz-box-sizing:border-box;
        -ms-box-sizing:border-box;
            box-sizing:border-box;
    */
}
#main {
    width:auto;
    form {
        max-width:1280px;
        margin:0 auto;
    }
}
#main-second {
    width:100% - @sideWidth;
    float:left;
    & > .inner {
        margin-right:@gutterWidth;
    }
}
#rail-second {
    width:@sideWidth;
    float:right;
}

.modal {
    width:500px;
    margin:(@gutterWidth * 5) auto;
    background:fade(@black, 3%);
    border:1px solid fade(@black, 3%);
    padding:@gutterWidth;
    .borderRadius(5px);
    h2 {
        line-height:1em;
    }
}
.modalish {
    max-width:800px;
    margin:(@gutterWidth * 3.5) auto 0;
}

footer {
    clear:both;
    border-top:1px solid fade(#000, 5%);
    padding:@gutterWidth/2 @gutterWidth;
}

@media all and (max-width: 1280px) {
}