// Grid
// ------------------------------------------------------------ //

#container {
	margin:@gutterWidth 0;
}
#main-wrap {
	float:left;
	width:100%;
}
#main {
	position:relative;
	margin-left:@railWidth + 2*@gutterWidth + 1;
	margin-right:@gutterWidth;
	margin-bottom:@gutterWidth;
}
#main-second-wrap {
	float:left;
	width:100%;
}
#main-second {
	margin-right:@railWidth + @gutterWidth;
}
#rail-second {
	float:left;
	margin-left:-@railWidth;
	width:@railWidth;
}
#rail {
	float:left;
	margin-left:-100%;
	width:@railWidth;
	border-right:1px solid fade(#000, 5%);
	padding-left:@gutterWidth;
	padding-bottom:@gutterWidth / 2;
	& > * {
		padding-right:@gutterWidth;
	}
}

.modal {
	width:500px;
	margin:(@gutterWidth * 5) auto;
	background:fade(@black, 3%);
	border:1px solid fade(@black, 3%);
	padding:@gutterWidth;
	.borderRadius(5px);
	h2 {
		line-height:1em;
	}
}

footer {
	clear:both;
	border-top:1px solid fade(#000, 5%);
	padding:@gutterWidth/2 @gutterWidth;
}
