//  ?
//  ------------------------------------------------------------  //


.imageReplace(@image, @w, @h) {
    white-space:nowrap;
    text-indent:100%;
    overflow:hidden;
    background-image:url(@image);
    width:@w;
    height:@h;
}

// Clearfix
.clearfix() {
    *zoom: 1;
    &:before,
    &:after {
        content:"";
        display:table;
    }
    &:after {
        clear:both;
    }
}

// ellipsis
.ellipsis() {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

// icon
.icon(@icon) {
    font-family:'FontAwesome';
    content:@icon;
}


//  CSS3 Properties
//  ------------------------------------------------------------  //


// border radius
.borderRadius(@radius: @defaultBorderRadius) {
    -webkit-border-radius:@radius;
       -moz-border-radius:@radius;
            border-radius:@radius;
}

// drop shadows
.boxShadow(@shadow) when (isstring(@shadow)) {
    -webkit-box-shadow:e(@shadow);
       -moz-box-shadow:e(@shadow);
            box-shadow:e(@shadow);
}
.boxShadow(@shadow) when not (isstring(@shadow)) {
    -webkit-box-shadow:@shadow;
       -moz-box-shadow:@shadow;
            box-shadow:@shadow;
}

// transitions
.transition(@transition: @defaultTransition) {
    -webkit-transition:@transition;
       -moz-transition:@transition;
        -ms-transition:@transition;
         -o-transition:@transition;
            transition:@transition;
}
.animate() {
    .transition();
}
.animate(@transition) {
    .transition(@transition);
}
