{% extends 'admin/_templates/form.html' %}

{% block title %}{{ item.name }}{% endblock %}

{% block form_primary %}
<fieldset>
	
	{{ forms.p('name', flash, {'class': 'fit'}) }}
		{{ forms.label('name', null, 'required') }}
		{{ forms.input('name', f.name) }}
	</p>

	<p class="fit">
		{{ forms.label('content', null, 'recommended') }}
		{{ forms.text('content', f.content) }}
	</p>
	
	{# #
	{{ f|dump }}
	{{ item|dump }}
	{# #}

</fieldset>
{% endblock %}

{% block form_secondary %}
<fieldset>

	{{ forms.p('language_id', flash) }}
		{{ forms.label('language_id', null, 'required') }}
		{{ forms.select('language_id', f.language_id, item.customOptionsForLanguage) }}
	</p>

</fieldset>
{% endblock %}

{% block form_buttons %}
<button class="primary" type="submit">{{ "Update post"|t }}</button>
<a class="back" href="{{ link.returnTo(":section") }}">{{ "back"|t }}</a>
{% endblock %}

{% block rail %}

	{% include '_sidebar.html' %}

{% endblock %}

{% block script %}
<style>
.select2-choice img,
.select2-result img {
	margin-right:5px;
	position:relative;
	top:3px;
}
#f_parent_id label {
	display:block;
}
#parent_id_thispage {
	color:#000000;
	display:block;
	font-style:italic;
	font-weight:600;
	line-height:1px;
}
#parent_id_thispage img {
	display:inline-block;
	margin:0 2px 0 7px;
	vertical-align:middle;
}
</style>
<script>
$(function(){
	
	var $thispage = $('#parent_id_thispage');
	var languages = {
		{% for _l in item.customOptionsForLanguage %}
		{% if (loop.index0) %},{% endif -%}
		{{ _l.id }}: {code: '{{ _l.country.code|lower }}'}
		{% endfor %}
	};
	
	function format(state){
		if (!state.id) return 'n/a';
		return '<img src="' + '{{ link.vendor('flags/flags-iso/16/@code.png') }}'.replace('@code', languages[state.id].code) + '">' + state.text;
	}
	
	$('#f_parent_id').find('span').filter(':not(.lang-' + $('#f_language_id').val() + ')').hide();
	$('#f_language_id').select2({
		width: '100%',
		formatResult: format,
		formatSelection: format
	}).on('change', function(e){
		$('#f_parent_id').find('span').filter('.lang-' + e.val).show();
		$('#f_parent_id').find('span').filter(':not(.lang-' + e.val + ')').hide();
		$('#f_parent_id').find('input:first').click();
	});
	
	$('#f_parent_id').find('input').click(function(){
		var $label = $(this).parent();
		$thispage.insertAfter($label).css('padding-left', $label.css('padding-left'));
	}).filter(':checked').click();
	
})
</script>
{% endblock %}

