{% macro p(name, flash, args) %}
<p class="{{ args.class }} {% if (flash.error_fields[name]) %}error{% endif %}" rel="f_{{ name }}">
{% endmacro %}

{% macro div(name, flash, args) %}
<div class="{{ args.class }} {% if (flash.error_fields[name]) %}error{% endif %}">
{% endmacro %}

{% macro label(name, caption, gravity) %}
<label class="label" for="f_{{ name|asciize("_") }}">{{ caption|default(name|human)|t }} {%- if (gravity) %} <span class="{{ gravity|asciize }}">({{ gravity|t }})</span>{% endif %}<br></label>
{% endmacro %}

{% macro input(name, value, size, maxlength) %}
<input class="input" type="text" id="f_{{ name|asciize("_") }}" name="{{ name }}" value="{{ value }}" size="{{ size|default(55) }}" maxlength="{{ maxlength|default(size)|default(255) }}">
{% endmacro %}

{% macro password(name) %}
<input type="password" id="f_{{ name|asciize("_") }}" name="{{ name }}">
{% endmacro %}

{% macro text(name, value, args) %}
<textarea id="f_{{ name|asciize("_") }}" name="{{ name }}" {%- for _key, _val in args %} {{ _key }}="{{ _val }}"{% endfor %}>{{ value }}</textarea>
{% endmacro %}

{% macro checkbox(name, checked, value) %}
<input type="checkbox" id="f_{{ name|asciize("_") }}" name="{{ name }}" value="{{ value|default(1) }}" {%- if (checked) %} checked{% endif %}>
{% endmacro %}

{% macro file(name, value) %}
<input type="file" id="f_{{ name|asciize("_") }}" name="{{ name }}">
{% endmacro %}

{% macro image(name, value) %}
<input type="file" id="f_{{ name|asciize("_") }}" name="{{ name }}">
{% endmacro %}

{% macro radio_collection(name, value, collection, break, undefined) %}
{% if (undefined) %}
<label><input type="radio" name="{{ name }}" value="" {% if (not value) %}checked{% endif %}> {{ undefined }}</label>{{ break|raw }}
{% endif %}
{% for key, item in collection %}
<label><input type="radio" name="{{ name }}" value="{{ item.id|default(key) }}" {% if (item.id|default(key) == value and value is not sameas(false)) %}checked{% endif %}> {{ item.caption|default(item)|t }}</label>{{ break|raw }}
{% endfor %}
{% endmacro %}

{% macro select(name, value, collection, has_empty, attr) %}
<select id="f_{{ name|asciize("_") }}" name="{{ name }}"{% for _key, _val in attr %} {{ _key }}="{{ _val }}"{% endfor %}>
    {% if (has_empty or has_empty is none) %}
    <option class="null" value="">{{ has_empty }}</option>
    {% endif %}
    {% for item in collection %}
    <option value="{{ item.id }}" {% if (item.id == value) %}selected{% endif %}>{{ item.caption|t }}</option>
    {% endfor %}
</select>
{% endmacro %}

{% macro select_array(name, value, collection, has_empty, attr) %}
<select id="f_{{ name|asciize("_") }}" name="{{ name }}"{% for _key, _val in attr %} {{ _key }}="{{ _val }}"{% endfor %}>
    {% if (has_empty or has_empty is none) %}
    <option class="null" value="">{{ has_empty }}</option>
    {% endif %}
    {% for _id, _caption in collection %}
    <option value="{{ _id }}" {% if (_id == value) %}selected{% endif %}>{{ _caption|t }}</option>
    {% endfor %}
</select>
{% endmacro %}

{% macro select_groups(name, value, collection, has_empty, attr) %}
<select id="f_{{ name|asciize("_") }}" name="{{ name }}"{% for _key, _val in attr %} {{ _key }}="{{ _val }}"{% endfor %}>
    {% if (has_empty or has_empty is none) %}
    <option class="null" value="">{{ has_empty }}</option>
    {% endif %}
    {% for group in collection %}
    <optgroup label="{{ group.caption|t }}">
        {% for item in group.data %}
        <option value="{{ item.id }}" {% if (item.id == value) %}selected{% endif %}>{{ item.caption|t }}</option>
        {% endfor %}
    </optgroup>
    {% endfor %}
</select>
{% endmacro %}

{#
{% macro p(name, flash, args) %}
<p class="{{ args.class }} {% if (flash.error_fields[name]) %}error{% endif %}">
{% endmacro %}

{% macro label(name, caption, gravity) %}
<label class="label" for="f_{{ name|asciize("_") }}">{{ caption|default(name|human)|t }} {% if (gravity) %}<span class="{{ gravity|asciize }}">({{ gravity|t }})</span>{% endif %}<br></label>
{% endmacro %}

{% macro input(name, value, size, maxlength) %}
<input class="input" type="text" id="f_{{ name|asciize("_") }}" name="{{ name }}" value="{{ value }}" size="{{ size|default(55) }}" maxlength="{{ maxlength|default(size)|default(255) }}">
{% endmacro %}

{% macro text(name, value, cols, rows) %}
<textarea id="f_{{ name|asciize("_") }}" name="{{ name }}" cols="{{ cols|default(64) }}" rows="{{ rows|default(12) }}">{{ value }}</textarea>
{% endmacro %}

{% macro file(name, value) %}
<input type="file" id="f_{{ name|asciize("_") }}" name="{{ name }}">
{% endmacro %}

{% macro image(name, value) %}
<input type="file" id="f_{{ name|asciize("_") }}" name="{{ name }}">
{% endmacro %}

{% macro select(name, value, collection, has_empty, attr) %}
<select id="f_{{ name|asciize("_") }}" name="{{ name }}"{% for _key, _val in attr %} {{ _key }}="{{ _val }}"{% endfor %}>
    {% if (has_empty or has_empty is none) %}
    <option class="null" value="">{{ has_empty }}</option>
    {% endif %}
    {% for kay, item in collection %}
    <option value="{{ item.id|default(key) }}" {% if (item.id|default(key) == value) %}selected{% endif %}>{{ item.caption|default(item)|t }}</option>
    {% endfor %}
</select>
{% endmacro %}

{% macro select_groups(name, value, collection, has_empty, attr) %}
<select id="f_{{ name|asciize("_") }}" name="{{ name }}"{% for _key, _val in attr %} {{ _key }}="{{ _val }}"{% endfor %}>
    {% if (has_empty or has_empty is none) %}
    <option class="null" value="">{{ has_empty }}</option>
    {% endif %}
    {% for group in collection %}
    <optgroup label="{{ group.caption|t }}">
        {% for item in group.data %}
        <option value="{{ item.id }}" {% if (item.id == value) %}selected{% endif %}>{{ item.caption|t }}</option>
        {% endfor %}
    </optgroup>
    {% endfor %}
</select>
{% endmacro %}
#}