{% macro p(name, flash, args) %}
<p class="{{ args.class }} {% if (flash.error_fields[name]) %}error{% endif %}">
{% endmacro %}

{% macro label(name, caption, gravity) %}
<label class="label" for="f_{{ name|asciize("_") }}">{{ caption|default(name|human) }} {% if (gravity) %}<span class="{{ gravity|asciize }}">({{ gravity }})</span>{% endif %}<br></label>
{% endmacro %}

{% macro input(name, value, size, maxlength) %}
<input class="input" type="text" id="f_{{ name|asciize("_") }}" name="{{ name }}" value="{{ value }}" size="{{ size|default(55) }}" maxlength="{{ maxlength|default(size)|default(255) }}">
{% endmacro %}

{% macro text(name, value, cols, rows) %}
<textarea id="f_{{ name|asciize("_") }}" name="{{ name }}" cols="{{ cols|default(64) }}" rows="{{ rows|default(12) }}">{{ value }}</textarea>
{% endmacro %}

{% macro radio_collection(name, value, collection, break, undefined) %}
{% if (undefined) %}
<label><input type="radio" name="{{ name }}" value="" {% if (not value) %}checked{% endif %}> {{ undefined }}</label>{{ break|raw }}
{% endif %}
{% for item in collection %}
<label><input type="radio" name="{{ name }}" value="{{ item.id }}" {% if (item.id==value and value is not sameas(false)) %}checked{% endif %}> {{ item.caption|t }}</label>{{ break|raw }}
{% endfor %}
{% endmacro %}

{% macro select(name, value, collection, has_empty, attr) %}
<select id="f_{{ name|asciize("_") }}" name="{{ name }}"{% for _key, _val in attr %} {{ _key }}="{{ _val }}"{% endfor %}>
	{% if (has_empty or has_empty is none) %}
	<option class="null" value="">{{ has_empty }}</option>
	{% endif %}
	{% for item in collection %}
	<option value="{{ item.id }}" {% if (item.id==value) %}selected{% endif %}>{{ item.caption|t }}</option>
	{% endfor %}
</select>
{% endmacro %}

{% macro select_groups(name, value, collection, has_empty, attr) %}
<select id="f_{{ name|asciize("_") }}" name="{{ name }}"{% for _key, _val in attr %} {{ _key }}="{{ _val }}"{% endfor %}>
	{% if (has_empty or has_empty is none) %}
	<option class="null" value="">{{ has_empty }}</option>
	{% endif %}
	{% for group in collection %}
	<optgroup label="{{ group.caption }}">
		{% for item in group.data %}
		<option value="{{ item.id }}" {% if (item.id==value) %}selected{% endif %}>{{ item.caption|t }}</option>
		{% endfor %}
	</optgroup>
	{% endfor %}
</select>
{% endmacro %}
