{% if (paginate) %}
<div class="paginate">
	<div class="paginate-paginator">
		{% if (paginate.page > 0) %}
		<a class="prev" href="{{ link.to(':page', (paginate.page - 1) ? paginate.page - 1 : '') }}">&larr; {{ "prev"|t }}</a>
		{% else %}
		<span class="prev">&larr; {{ "prev"|t }}</span>
		{% endif %}
		{% if (paginate.page_min > 0) %}
		<a href="{{ link.to(':page', '') }}">1</a>
		<a href="{{ link.to(':page', 1) }}">2</a>
		&hellip;
		{% endif %}
		{% for i in paginate.page_min..paginate.page_max %}
		{% if (i == paginate.page) %}
		<strong>{{ i + 1 }}</strong>
		{% else %}
		<a href="{{ link.to(':page', i ? i : '') }}">{{ i + 1 }}</a>
		{% endif %}
		{% endfor %}
		{% if (paginate.page_max < paginate.pages - 1) %}
		&hellip;
		<a href="{{ link.to(':page', paginate.pages - 2) }}">{{ paginate.pages - 1 }}</a>
		<a href="{{ link.to(':page', paginate.pages - 1) }}">{{ paginate.pages }}</a>
		{% endif %}
		{% if (paginate.page < paginate.pages - 1) %}
		<a class="next" href="{{ link.to(':page', paginate.page + 1) }}">{{ "next"|t }} &rarr;</a>
		{% else %}
		<span class="next">{{ "next"|t }} &rarr;</span>
		{% endif %}
	</div>
	<div class="paginate-note">
		({{ "%d entry"|tn("%d entries", paginate.total) }})
	</div>
</div>
{% endif %}