{% extends '_templates/list.html' %}

{% block title %}{{ "Users"|t }}{% endblock %}

{% block main_content %}
<table>

	<thead>
		<tr>
			<th width="50%">{{ "Name"|t }} &uarr;</th>
			<th width="50%">{{ "Email"|t }}</th>
			<th width="1" class="ar">{{ "Created At"|t }}</th>
			<th width="1">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		
		{% for item in data %}
		<tr>
			<td class="strong">{{ item.name }}</td>
			<td class="">{{ item.email }}</td>
			<td class="ar tiny">{{ item.created_at|tDateTime }}</td>
			<td class="controls">
				{#
				<a href="{{ link.to(':update', item) }}">{{ "Update"|t }}</a> |
				<a href="{{ link.to(':delete', item) }}">{{ "Delete"|t }}</a>
				#}
				<span class="inactive">n/a</span>
			</td>
		</tr>
		{% endfor %}

	</tbody>
	<tfoot class="line">
		<tr>
			<td colspan="5">&nbsp;</td>
		</tr>
	</tfoot>

</table>
{% endblock %}

{% block rail %}

	{% include '_sidebar.html' %}

{% endblock %}
