{% if (_pages|length) %}
<ul>
    {% for _page in _pages %}
    <li class="state-{{ _page.state.name|asciize }} level-{{ level + 0 }}">

        <a class="name" href="{{ link.section(_page) }}">
            {% if (_page.state_id != 1) %}
            <span class="tag state-{{ _page.state.name|asciize }}">{{ _page.state.name }}</span>
            {% endif %}
            <span class="caption">
                {{- _page.name -}}
                {%- if (_page.caption) %} ({{ _page.caption }}){% endif -%}
            </span>
            <span class="newpage" data-href="{{ link.to(':admin/action', 'create', _page.id) }}">+</span>
        </a>

        {% include '_listpages.html' with {'_pages': pages.pages[_page.id], 'level': level + 1} %}

    </li>
    {% endfor %}
</ul>
{% endif %}
