{% extends '_templates/list.html' %}

{% block title %}{{ "Pages"|t }}{% endblock %}

{% block form_action %}<a href="{{ link.to(":create") }}">{{ "Create new"|t }} &rarr;</a>{% endblock %}

{% block main_content %}

	<table>

		<thead>
			<tr>
				<th width="1">&nbsp;</th>
				<th width="60%">{{ "Name"|t }}</th>
				<th width="40%">{{ "Template"|t }}</th>
				<th width="1" class="ar">{{ "State"|t }}</th>
				<th width="1" class="ac sel">&uarr;</th>
				<th width="1" class="ar">{{ "Last Update"|t }}</th>
				<th width="1">&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			
			{% for _locale in locales %}
			{% if (pages.langs[_locale.id]) %}
			
				<tr>
					<th class="image"><span class="flag" style="background:url({{ link.vendor('flags/{$(country.code)}.png', _locale) }})"></span></th>
					<th>{{ _locale.caption }}</th>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
					<th class="sel">&nbsp;</th>
					<th colspan="2">&nbsp;</th>
				</tr>

				{% include '_listpages.html' with {'_pages': pages.langs[_locale.id]} %}

			{% endif %}
			{% endfor %}

		</tbody>
		<tfoot class="line">
			<tr>
				<td colspan="7">&nbsp;</td>
			</tr>
		</tfoot>

	</table>
	
{% endblock %}

{% block rail %}

	{% include '_sidebar.html' %}

{% endblock %}
