{% extends 'frame.html' %}

{% block rail %}

    {% for _locale in locales %}
    {% if (pages.langs[_locale.id]) %}
    <div class="section">

        <h2 style="background-image:url({{ link.vendor('flags/{$(country.code)}.png', _locale) }})">
            {{ _locale.caption }}
            <a class="more-button" target="main" href="{{ link.to('@/@/create/%1', _locale.id) }}">{{ "New Page"|t }}</a>
        </h2>

        {% include '_listpages.html' with {'_pages': pages.langs[_locale.id]} %}

    </div>
    {% endif %}
    {% endfor %}
    
    <div class="section other">

        <h2 style="background-image:url({{ link.vendor('flags/_world.png', _locale) }})">
            {{ "Different locale" }}
        </h2>

        <ul>
            <li>
                <a target="main" href="{{ link.to(':create') }}">{{ "Create new page"|t }}&hellip;</a>
            </li>
        </ul>

    </div>
    
    <style>
    .other a {
        opacity:.2;
    }
    #rail:hover .other a {
        opacity:.5;
    }
    .section.other:hover a {
        opacity:.85 !important;
    }
    .other a:hover {
        opacity:1 !important;
    }
    </style>
    
{% endblock %}
