{% extends 'admin/_templates/form.html' %}

{% block title %}{{ item.name }}{% endblock %}

{% block form_primary %}
<fieldset>
	
	{{ forms.p('name', flash, {'class': 'fit'}) }}
		{{ forms.label('name', null, 'required') }}
		{{ forms.input('name', f.name) }}
	</p>

	<p class="fit">
		{{ forms.label('content', null, 'recommended') }}
		{{ forms.text('content', f.content) }}
	</p>
	
	{# #
	{{ f|dump }}
	{# #}

</fieldset>
{% endblock %}

{% block form_secondary %}
<fieldset>

	{{ forms.p('state_id', flash) }}
		{{ forms.label('state_id', null, 'required') }}
		<span class="fieldset">
		{{ forms.radio_collection('state_id', f.state_id is defined ? f.state_id : false, item.optionsForState) }}
		</span>
	</p>

	{{ forms.p('language_id', flash) }}
		{{ forms.label('language_id', null, 'required') }}
		{{ forms.select('language_id', f.language_id, item.optionsFor('Language')) }}
	</p>

	<p class="fit">
		{{ forms.label('parent_id', null, 'optional') }}
		<span class="fieldset" id="f_parent_id">
			
			<label><input type="radio" name="parent_id" value="" {% if (not f.parent_id) %}checked{% endif %}> <em>{{ 'root page'|t }}</em></label>
			<strong id="parent_id_thispage"><img src="{{ link.publisher('admin/img/subpath.png') }}"> {{ "This Page"|t }}<br></strong>
			
			{% for _language in languages %}
			<span class="lang-{{ _language.id }}">
				{% include '_form_listpages.html' with {'pages': pages.pages, '_pages': pages.langs[_language.id]} %}
			</span>
			{% endfor %}
			
		<span>
	</p>

	<p class="fit">
		{{ forms.label('top', null, 'optional') }}
		{{ forms.input('top', f.top) }}
	</p>
	
</fieldset>
{% endblock %}

{% block form_buttons %}
<button class="primary" type="submit">{{ "Update page"|t }}</button>
<a class="back" href="{{ link.returnTo(":section") }}">{{ "back"|t }}</a>
{% endblock %}

{% block rail %}

	{% include '_sidebar.html' %}

{% endblock %}

{% block script %}
<style>
.select2-choice img,
.select2-result img {
	margin-right:5px;
	position:relative;
	top:3px;
}
#f_parent_id label {
	display:block;
}
#parent_id_thispage {
	color:#000000;
	display:block;
	font-style:italic;
	font-weight:600;
	line-height:1px;
}
#parent_id_thispage img {
	display:inline-block;
	margin:0 2px 0 7px;
	vertical-align:middle;
}
</style>
<script>
$(function(){
	
	var $thispage = $('#parent_id_thispage');
	var languages = {
		{% for _l in item.optionsFor('Language') %}
		{% if (loop.index0) %},{% endif -%}
		{{ _l.id }}: {code: '{{ _l.country.code|lower }}'}
		{% endfor %}
	};
	
	function format(state){
		if (!state.id) return 'n/a';
		return '<img src="' + '{{ link.vendor('flags/flags-iso/16/@code.png') }}'.replace('@code', languages[state.id].code) + '">' + state.text;
	}
	
	$('#f_parent_id').find('span').filter(':not(.lang-' + $('#f_language_id').val() + ')').hide();
	$('#f_language_id').select2({
		width: '100%',
		formatResult: format,
		formatSelection: format
	}).on('change', function(e){
		$('#f_parent_id').find('span').filter('.lang-' + e.val).show();
		$('#f_parent_id').find('span').filter(':not(.lang-' + e.val + ')').hide();
		$('#f_parent_id').find('input:first').click();
	});
	
	$('#f_parent_id').find('input').click(function(){
		var $label = $(this).parent();
		$thispage.insertAfter($label).css('padding-left', $label.css('padding-left'));
	}).filter(':checked').click();
	
})
</script>
<script src="{{ link.vendor('tiny_mce/tiny_mce.js') }}" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="{{ link.publisher('admin/css/forms_tinymce.css') }}">
<script type="text/javascript" charset="utf-8">
$(function(){
	// tinymce
	tinyMCE.init({
		mode : 'textareas',
		plugins : 'table',
		theme : 'advanced',

		skin : 'lepublisher',
		setup : function(ed){
			ed.onInit.add(function(ed, e){
				var dom = ed.dom;
				var doc = ed.getDoc();
				tinymce.dom.Event.add(doc, 'focus', function(e){
				    console.log('focus');
					$(ed.getContainer()).addClass('focus');
				});
				tinymce.dom.Event.add(doc, 'blur', function(e){
					console.log('blur');
					$(ed.getContainer()).removeClass('focus');
				});
			});
		},

		element_format : 'html',
		plugins : 'paste',
		height : '480',
		theme_advanced_buttons1 : 'bold,italic,underline,|,pastetext,pasteword'
			+ ',|,justifyleft,justifycenter,justifyright,justifyfull'
			+ ',|,bullist,numlist,|,link,unlink,|,undo,redo'
			+ ',|,cleanup,removeformat,|,spellchecker,|,styleselect,|,code',
		theme_advanced_buttons2 : '',
		theme_advanced_buttons3 : '',
		theme_advanced_toolbar_location : 'top',
		theme_advanced_toolbar_align : 'left',
		theme_advanced_path_location : 'bottom',
		theme_advanced_resizing : true,
		theme_advanced_resize_horizontal : false,
		content_css : '/public/tiny_mce/mycontent.css',
		formats : {
			alignleft : {selector : 'img', classes : 'left'},
			alignright : {selector : 'img', classes : 'right'}
		},
		style_formats : [
			{title : 'Heading', block : 'h3'},
			{title : 'Subheading', block : 'h4'},
			{title : 'Paragraph', block : 'p'}
		],
		fix_list_elements : true,
		valid_elements : 'p,strong/b,em/i,br,h3,h4,ul,ol,li,blockquote,dl,dt,dd,a[href|target]'
			+ ',img[src|width|height|class<left?right]'
			+ ',iframe[width|height|src|frameborder:0|allowfullscreen]',
		entity_encoding : 'raw',
		convert_urls : false
	});
	//
});
</script>
{% endblock %}

