{% extends '_templates/form.html' %}

{% block title %}{{ item.name }}{% endblock %}

{% block form_fields %}
    
    {{ forms.p('name', flash, {'class': 'fit big'}) }}
        {{ forms.label('name', null, 'required') }}
        {{ forms.input('name', f.name) }}
    </p>
    
    <div class="tabs">

        <a href="#">{{ "Content"|t }}</a>
        <a href="#">{{ "SEO"|t }}</a>
        <a href="#">{{ "Navigation"|t }}</a>
        <a href="#">{{ "Settings"|t }}</a>

    </div>
    <div class="tab">
        
        <p class="fit">
            {{ forms.label('blocks[content]', 'Content', 'recommended') }}
            {{ forms.text('blocks[content]', f.blocks['content']|default(f.block('content')), {class: 'richtext'}) }}
        </p>

    </div>
    <div class="tab">

        <p class="fit">
            {{ forms.label('redirect', null, 'optional') }}
            {{ forms.input('redirect', f.redirect) }}
        </p>
        
        <p class="fit">
            {{ forms.label('blocks[meta-description]', 'Meta Description', 'optional') }}
            {{ forms.text('blocks[meta-description]', f.blocks['meta-description']|default(f.block('meta-description'))) }}
        </p>

    </div>
    <div class="tab">
        
        <p class="fit">
            {{ forms.label('parent_id', null, 'optional') }}
            <span class="fieldset" id="f_parent_id">

                <label rel="0"><input type="radio" name="parent_id" value="" {% if (not f.parent_id) %}checked{% endif %}> <em>{{ 'root page'|t }}</em></label>
                <strong id="parent_id_thispage"><img src="{{ link.publisher('admin/img/subpath.png') }}"> <span>{{ "This Page"|t }}</span><br></strong>

                {% include '_form_listpages.html' with {'_pages': pages.root} %}

            <span>
        </p>

        <p>
            {{ forms.label('top', null, 'optional') }}
            {{ forms.input('top', f.top) }}
        </p>
        
        <p>
            {{ forms.label('tags', null, 'optional') }}
            {{ forms.input('tags', f.tags is iterable ? f.tags|join(', ') : f.tags) }}
        </p>
        
    </div>
    <div class="tab">
        
        <div class="cols2">

            <p class="fit">
                {{ forms.label('template', null, 'optional') }}
                {{ forms.input('template', f.template) }}
            </p>
            
            <p class="fit">
                {{ forms.label('type', null, 'optional') }}
                {{ forms.input('type', f.type) }}
            </p>

        </div>
        
    </div>

{% endblock %}

{% block form_buttons_buttons %}
<button class="primary" type="submit">{{ "Update page"|t }}</button>
{% if (item.type) %}
<a class="back" href="{{ link.section(item) }}">{{ "back"|t }}</a>
{% endif %}
{% endblock %}

{% block script %}
<style>
#f_parent_id label {
    display:block;
    position:relative;
}
#parent_id_thispage {
    color:#000000;
    display:block;
    font-weight:600;
    line-height:1px;
    padding-left:27px;
}
#parent_id_thispage img {
    display:inline-block;
    margin:0 2px 0 0;
    vertical-align:middle;
}
#f_parent_id > span label input[type=radio] {
    position:absolute;
    left:-19px;
    top:8px;
    margin:0;
    border:0;
}
</style>
<script>
$(function(){
    
    //
    // parent
    var $thispage = $('#parent_id_thispage'),
        $labelSelected;
    $('#f_parent_id').find('input').click(function(){
        updateParent($(this).parent(), $('#f_top').val());
    }).filter(':checked').click();
    $('#f_top').keyup(function(){
        updateParent($labelSelected, $(this).val());
    });
    function updateParent($label, top){
        $labelSelected = $label;
        var rel = $label.attr('rel'),
            $children = $label.nextAll('.id-' + rel);
        if ((top <= 1 && top.length > 0) || $children.size() == 0){
            $thispage.insertAfter($label).css('margin-left', $label.css('margin-left'));
        }else if (top <= $children.size() && top.length > 0){
            $thispage.insertBefore($children.filter(':eq(' + (top - 1) + ')')).css('margin-left', $label.css('margin-left'));
        }else if (rel == '0'){
            $thispage.insertAfter($('#f_parent_id').find('label:last')).css('margin-left', $label.css('margin-left'));
        }else{
            var _id = $label.attr('class').match(/id-\d+/)[0];
            if ($label.nextAll('.' + _id).size()){
                $thispage.insertBefore($label.nextAll('.' + _id + ':first')).css('margin-left', $label.css('margin-left'));
            }else{
                $thispage.insertAfter($children.filter(':last')).css('margin-left', $label.css('margin-left'));
            }
        }
    }
    
});
</script>
{% include '_tinymce.html' %}
{% endblock %}

