{% extends '_templates/form.html' %}


{% block title item.name %}


{% block form_fields %}
    
    {{ forms.p('name', flash, {'class': 'fit big'}) }}
        {{ forms.label('name', null, 'required') }}
        {{ forms.input('name', f.name) }}
    </p>
    
    <div class="tabs">

        <a href="#">{{ "Content"|t }}</a>
        {#
        <a href="#">{{ "SEO"|t }}</a>
        #}
        <a href="#">{{ "Navigation"|t }}</a>
        <a href="#">{{ "Settings"|t }}</a>

    </div>
    <div class="tab">
        
        {% block f_content_before none %}
        
        {% block f_content %}
        <div>
            {{ forms.label('blocks[content]', 'Content', 'recommended') }}
            <article class="edit" data-name="content">
                {{ f.block('content')|html }}
            </article>
        </div>
        {% endblock %}

        {% block f_content_after none %}

    </div>
    {#
    <div class="tab">

        <p class="fit">
            {{ forms.label('blocks[meta-description]', 'Meta Description', 'optional') }}
            {{ forms.text('blocks[meta-description]', f.blocks['meta-description']|default(f.block('meta-description'))) }}
        </p>

    </div>
    #}
    <div class="tab">
        
        <div class="row cols2">
            <div>
                {{ forms.p('caption', flash) }}
                    {{ forms.label('caption', null, 'optional') }}
                    {{ forms.input('caption', f.caption) }}
                </p>
            </div>
            <div>
                {{ forms.p('redirect', flash) }}
                    {{ forms.label('redirect', null, 'optional') }}
                    {{ forms.input('redirect', f.redirect) }}
                </p>
            </div>
        </div>
        
        {{ forms.label('parent_id', null, 'optional') }}
        <div id="f_parent_id" class="row cols2">
            <div><div class="fieldset field">

                    <ul><li>
                        <label><input type="radio" name="parent_id" value="" {% if (not f.parent_id) %}checked{% endif %}> <em>{{ 'root page'|t }}</em></label>
                        {% include '_form_listpages.html' with {'_pages': pages.root} %}
                    </li></ul>
            
            </div></div>
            <div><div class="fieldset field">

                    <ul><li>
                        <label rel="-1"><input type="radio" name="parent_id" value="-1" {% if (f.parent_id == -1) %}checked{% endif %}> <em>{{ 'unlinked'|t }}</em></label>
                        {% include '_form_listpages.html' with {'_pages': pages.unlinked} %}
                    </li></ul>
                
            </div></div>
        </div>

        {{ forms.p('top', flash) }}
            {{ forms.label('top', null, 'optional') }}
            {{ forms.input('top', f.top) }}
        </p>
        
    </div>
    <div class="tab">
        
        <div class="row cols2">
            <div>
                
                <p class="fit">
                    {{ forms.label('template', null, 'optional') }}
                    {{ forms.input('template', f.template) }}
                </p>

            </div>
            <div>
                
                {{ forms.p('type', flash) }}
                    {{ forms.label('type', null, 'optional') }}
                    {{ forms.input('type', f.type) }}
                </p>

            </div>
        </div>
        
        <p>
            {{ forms.label('tags', null, 'optional') }}
            {{ forms.input('tags', f.tags is iterable ? f.tags|join(', ') : f.tags) }}
        </p>

    </div>

{% endblock %}


{% block form_buttons_buttons %}
<button class="primary" type="submit">{{ "Update page"|t }}</button>
{% endblock %}


{% block form_buttons_back_link item.type ? link.section(item) : none %}

{% block form_buttons %}

    {{ parent() }}

    {% if (item.id) %}
    <p class="right">
        <a target="" href="{{ link.to(':admin/action', 'delete', item.id) }}" class="button delete">{{ "Delete page"|t }}</a>
    </p>
    {% endif %}

{% endblock %}


{% block script %}
{{ parent() }}
<style>
#f_parent_id .thispage {
    font-weight:600;
    position:relative;
    padding-left:29px;
}
#f_parent_id .thispage img {
    position:absolute;
    left:7px;
    top:3px;
}
#f_parent_id ul {
    margin:5px 0;
}
#f_parent_id ul ul {
    margin:0 0 0 20px;
}
#f_parent_id .fieldset {
    line-height:25px;
}
</style>
<script>
$(function(){
    
    //
    // parent
    var $thispage = $('<li class="thispage"><img src="{{ link.publisher('admin/img/subpath.png') }}"> <span>{{ "This Page"|t }}</span></li>');
    $('#f_parent_id').find('input').click(function(){
        updateParent($(this).parents('li:first'), $('#f_top').val());
    }).filter(':checked').click();
    $('#f_top').keyup(function(){
        updateParent($thispage.parents('li:first'), $(this).val());
    });
    function updateParent($li, top){
        var $ul = $li.children('ul:first');
            $ulChildren = $ul.children().not($thispage);
        top = parseInt(top) || -1;
        if (top < 0 || top > $ulChildren.size()) {
            // is last of children
            $thispage.appendTo($ul);
        } else if (top <= 1) {
            // is first
            $thispage.prependTo($ul);
        } else {
            // ...or somewhere in the middle
            $thispage.insertBefore($ulChildren.filter(':eq(' + (top - 1) + ')'));
        }
    }
    
});
</script>
{% include '_tinymce.html' %}
{% endblock %}
