{% extends 'boilerplate.html' %}

{% block head_append %}
<link rel="stylesheet" href="{{ link.publisher('admin/css/frame.css') }}">
{% endblock %}

{% block body %}

    <div id="rail">
        <div class="inner">
            
            {% block rail %}{% endblock %}

        </div>
    </div>
    <div id="main">
        
        <iframe name="main"></iframe>
        
    </div>

    <script src="{{ link.jQuery }}"></script>
    <script>
    $(function(){
        var $rail = $('#rail');
            $a = $rail.find('a[target=main]'),
            $main = $('iframe[name=main]'),
            section = top.location.hash.indexOf('/in/') > -1 ? top.location.hash.replace(/^#/, '').split('/in/')[0] : null;
        //
        // onclick
        $a.click(function(){
            var $this = $(this);
            $('.active').removeClass('active');
            $this.parent().addClass('active');
            $main.attr('src', $this.attr('href'));
            return false;
        });
        //
        // init
        if (section){
            $main.attr('src', '/admin/' + section);
        }else{
            $main.attr('src', '{{ link.to(':admin/section') }}');
        }
    });
    </script>
    {% block script %}{% endblock %}

{% endblock %}

