{% extends 'boilerplate.html' %}

{% block head_append %}
<link rel="stylesheet" href="{{ link.publisher('admin/css/frame.css', true) }}">
{% endblock %}

{% block body %}

    <div class="{% block type none %}">

        <div id="rail">
            
            {% block rail %}{% endblock %}

        </div>
        <div id="main">
        
            <iframe name="main"></iframe>
        
        </div>

    </div>

    <script src="{{ link.jQuery }}"></script>
    <script src="{{ link.publisher('admin/js/frame.js', true) }}"></script>
    <script>
    $(function(){
        var section = (top.location.hash.indexOf('/in/') > -1) ? top.location.hash.replace(/^#/, '').split('/in/')[0] : null;
        $main.attr('src', '/admin/' + (top.location.hash.replace(/^#/, '').replace(/\/in\/.*/, '') || '{{ link.param(2) }}'));
    });
    </script>
    {% block script %}{% endblock %}

{% endblock %}

