{% extends 'boilerplate.html' %}

{% block head_append %}
<link rel="stylesheet" href="{{ link.publisher('admin/css/master.css') }}">
{% endblock %}

{% block body %}

    {% include '_notices.html' %}
  
    <div id="container">

        {% block main %}{% endblock %}
    
    </div>
    
    <div id="modal-overlay"></div>
    <div id="modal-window"><iframe name="modal" src=""></iframe></div>

    <script src="{{ link.jQuery }}"></script>
    <script src="{{ link.vendor('select2/select2.min.js') }}"></script>
    <script>
    //
    // location
    var section = location.pathname.substring(7),
        sectionThis = section.split('/')[0],
        sectionIn = parent.location.pathname.substring(7).split('/')[0];
    if (window.name != 'modal'){
        top.location = top.location.href.split('#')[0] + '#' + section + (sectionIn && sectionThis != sectionIn ? '/in/' + sectionIn : '');
    }
    //
    // others
    var $modalOverlay,
        $modalWindow,
        $modalWindowIframe;
    $(function(){
        
        //
        // title
        var $titleThis = $('title'),
            $titleTop = $(top.document).find('title'),
            titleThis = $titleThis.text(),
            titleTop = $titleTop.text().split(' | ')[0];
        $titleTop.text(titleTop + (titleThis ? ' | ' + titleThis : ''));
        
        //
        // enable button on form change
        /*
        $('form:has(button:disabled)').each(function(){
            var $form = $(this),
                $button = $form.find('button:disabled');
            $form.find('input,select,textarea').change(function(){
                $button.attr('disabled', false);
            });
        });
        //
        $('button:disabled').attr('disabled', false);
        */
        
        //
        // tabs
        $('.tabs').each(function(){
            var $list = $(this),
                $tabs = $list.nextAll('.tab');
            $list.find('a').each(function(i){
                var $this = $(this);
                $this.click(function(){
                    $this.addClass('active').siblings('.active').removeClass('active');
                    $tabs.filter(':not(:eq(' + i + '))').hide();
                    $tabs.filter(':eq(' + i + ')').show();
                    return false;
                });
            }).filter(':first').click();
        });
        
        //
        // forms submit
        $('form').each(function(){
            var $form = $(this),
                isRedir = false;
            // form submit
            $form.submit(function(){
                $('#notices').slideUp();
                $form.find('.buttons button,button[type=submit]').attr('disabled', true);
                $form.find('button.loading').css('display', 'inline-block');
            });
            // form result
            $form.find('iframe[name=form-frame]').load(function(){
                var $this = $(this),
                    res = $.parseJSON($this.contents().text());
                // process result
                if (res.flash.errors){
                    // on error
                    $('#notices').html('<div class="flash_error">' + res.flash.errors.join('<br>') + '</div>').slideDown('fast');
                    $form.find('.error').removeClass('error');
                    $.each(res.flash.fields, function(field, messages){
                        $('[rel=f_' + field + ']').addClass('error');
                    });
                }else if (res.redir){
                    if ($form.data('success') == 'true'){
                        $form.trigger('success', [res]);
                    }else{
                        var redir = res.redir.replace(/^\/\w+\//, '');
                            toSection = redir.match(/[^\/]+/)[0],
                            to = top.location.pathname + '#' + redir + ((sectionIn && sectionThis != sectionIn ? '/in/' + sectionIn : '') || (toSection != sectionThis ? '/in/' + sectionThis : ''));
                        top.location = to;
                        top.refresh(true);
                        isRedir = true;
                    }
                }
                // return buttons to normal states
                if (!isRedir){
                    $form.find('button.loading').css('display', '');
                    $form.find('.buttons button,button[type=submit]').attr('disabled', false);
                }
                //
                return false;
            });
        });
        
        //
        // modal
        $modalOverlay = $('#modal-overlay');
        $modalWindow = $('#modal-window')
        $modalWindowIframe = $modalWindow.find('iframe');
        $modalOverlay.click(function(){
            modalHide();
        });
        
    });
    //
    // modal
    function modalShow(url){
        $modalOverlay.show();
        $modalWindowIframe.load(function(){
            $modalWindow.show();
            $modalWindowIframe.unbind('load');
        }).attr('src', url);
    }
    function modalHide(){
        $modalOverlay.hide();
        $modalWindow.hide();
        $modalWindowIframe.attr('src', 'about:blank');
    }
    </script>
    {% block script %}{% endblock %}
    
{% endblock %}
