{% extends 'boilerplate.html' %}

{% block head_append %}
<link rel="stylesheet" href="{{ link.publisher('admin/css/master.css', true) }}">
{% endblock %}

{% block body %}

    {% include '_notices.html' %}

    <div id="container">

        {% block main %}
        {% endblock %}
    
    </div>
    
    {#
    <iframe name="form-frame"></iframe>
    #}
    
    <div id="modal-overlay"></div>
    <div id="modal-window"><iframe name="modal" src=""></iframe></div>

    <script src="{{ link.jQuery }}"></script>
    <script src="{{ link.publisher('admin/js/layout.js') }}"></script>
    <script>
    $(function(){
        
        
        //
        // forms submit
        $('form').each(function(){
            var $form = $(this);
            //
            // form submit
            $form.submit(function(){
                // parse editareas
                $form.find('div[rel=article]').remove();
                $form.find('article.edit').each(function(){
                    var $this = $(this);
                    // remove empty html areas
                    $this.children('.html').filter(function(){
                        return $.trim($(this).text().replace(/&nbsp;/gim, ' ')).length == 0;
                    }).remove();
                    // parse
                    var $article = $('<article></article>', {
                            html: $this.html()
                        }),
                        $fields = $('<div rel="article"></div>').insertAfter($this),
                        name = $this.data('name');
                    // sanitize html
                    $article.find('.controls').remove();
                    $article.children(':empty').remove();
                    $article.children('.html').replaceWith(function(){ return $(this).html() });
                    $article.find('.image').removeAttr('tabindex').removeClass('ui-draggable').removeClass('ui-draggable-handle').find('img').removeClass('ui-droppable').siblings('.resize-sw,.resize-se').remove();
                    //
                    $('<input>', {
                        type: 'hidden',
                        name: 'blocks[' + name + ']',
                        value: $article.html()
                    }).appendTo($fields);
                });
                // clear error notices
                $notices.find('.error').remove();
                $notices.children().hide();
                // button loading state
                $form.find('button:first').attr('disabled', true).addClass('loading');
            });
            //
            // form result
            $('<iframe name="form-frame"></iframe>').appendTo('body').load(function(){
                var $this = $(this),
                    res = $this.contents().text();
                // try to parse result
                try {
                    res = $.parseJSON(res) || {};
                } catch (e) {
                    res = {};
                }
                // process result
                $form.find('.error').removeClass('error').find('.hint').show();
                $form.find('.errormsg').remove();
                if (res.flash && res.flash.errors) {
                    // on error
                    $notices.html('<div class="flash error">' + res.flash.errors.join('<br>') + '</div>');
                    $.each(res.flash.fields, function(field, messages){
                        var $p = $('[rel=f_' + field + ']');
                        $p.addClass('error');
                        if (messages) {
                            $p.find('.hint').hide();
                            $.each(messages, function(_case, message){
                                $p.append('<span class="errormsg">' + message + '</span>');
                            });
                        }
                    });
                } else if (res.redir) {
                    if ($form.data('success') == 'true') {
                        $form.trigger('success', [res]);
                    } else {
                        var redir = res.redir.replace(/^\/\w+\//, '');
                            toSection = redir.match(/[^\/]+/)[0],
                            toHash = '#' + redir + ((sectionIn && sectionThis != sectionIn ? '/in/' + sectionIn : '') || (toSection != sectionThis ? '/in/' + sectionThis : ''));
                        top.location.hash = toHash;
                        top.refresh(true);
                        return;
                    }
                }
                //
                // return buttons to normal states
                $form.find('button:first').removeClass('loading').attr('disabled', false);
            });
        });
        
    });
    </script>
    {% block script %}{% endblock %}
    
{% endblock %}
