{% extends 'boilerplate.html' %}

{% block title "Le Publisher" %}

{% block head_append %}
<link rel="stylesheet" href="{{ link.publisher('admin/css/wrap.css') }}">
{% endblock %}

{% block body %}

    <nav id="nav">
        <ul>
            {% block nav %}
            <li class="nav-pages"><a target="frame" href="{{ link.to('admin/pages/main') }}">{{ "Pages"|t }}</a></li>
            {#<li class="nav-categories"><a target="frame" href="{{ link.to('admin/categories/main') }}">{{ "Categories"|t }}</a></li>#}
            <li class="nav-media"><a target="frame" href="{{ link.to('admin/media/main') }}">{{ "Media"|t }}</a></li>
            <li class="nav-users"><a target="frame" href="{{ link.to('admin/users/main') }}">{{ "Users"|t }}</a></li>
            <li class="nav-settings"><a target="frame" href="{{ link.to('admin/settings/main') }}">{{ "Settings"|t }}</a></li>
            {% endblock %}
        </ul>
        <ul class="last">
            <li class="nav-account"><a target="frame" href="{{ link.to('admin/account/main') }}">{{ "Account"|t }}</a></li>
        </ul>
    </nav>
    
    <div id="main">
        <iframe name="frame"></iframe>
    </div>
    
    <script src="{{ link.jQuery }}"></script>
    <script src="{{ link.publisher('admin/js/wrap.js') }}"></script>
    {% block script %}{% endblock %}
    
{% endblock %}