{% extends '_templates/form.html' %}


{% block title item.default('name') %}


{% block form_fields %}

    {{ forms.p('name', flash, {'class': 'big'}) }}
        {{ forms.label('name', null, 'required') }}
        {{ forms.input('name', f.name) }}
    </p>
    
    <div class="tabs">

        <a href="#">{{ "Content"|t }}</a>
        <a href="#">{{ "Navigation"|t }}</a>

    </div>
    <div class="tab">
        
        {% block f_content_before %}{% endblock %}
  
        {% block f_content %}
        <div>
            {{ forms.label('content', null, 'recommended') }}
            <article class="edit" data-name="content">
                {{ f.get('content')|html }}
            </article>
        </div>
        {% endblock %}

        {% block f_content_after %}{% endblock %}
        
    </div>
    <div class="tab">

        {{ forms.p('weight', flash) }}
            {{ forms.label('weight', null, 'optional') }}
            {{ forms.input('weight', f.weight) }}
        </p>

    </div>

{% endblock %}


{% block form_buttons_back_link link.section(item.page) %}


{% block form_buttons_buttons %}
<button class="primary" type="submit">{{ "Update entry"|t }}</button>
{% endblock %}


{% block form_buttons %}

    {{ parent() }}

    {% if (item.id) %}
    <p class="right">
        <a target="" href="{{ link.to(':admin/action', 'delete', item.id) }}" class="button delete">{{ "Delete entry"|t }}</a>
    </p>
    {% endif %}

{% endblock %}


{% block script %}
{% include '_tinymce.html' %}
{% endblock %}
