{% extends 'layout.html' %}

{% import '_forms.html' as forms %}

{% block main %}
<form method="post" target="form-frame" action="{% block form_action %}{{ link.self.includeQuery }}{% endblock %}" {% block form_type %}{% if (block('form_type_upload')) %}enctype="multipart/form-data"{% endif %}{% endblock %}>

    {% block form_lead %}{% endblock %}

    {% block form_main %}
    <div class="fields">
        {% block form_fields %}{% endblock %}
    </div>
    {% endblock %}
    
    <div class="buttons">
        {% block form_buttons %}
        {% if (states) %}
        <p class="right">{{ forms.radio_collection('state_id', f.state_id is defined ? f.state_id : false, states) }}</p>
        <p class="left">
        {% endif %}
            <button class="loading" disabled>{{ "Please wait"|t }}&hellip;</button>
            {% block form_buttons_buttons %}
            <button class="primary" type="submit">{{ "Submit"|t }}</button>
            {% endblock %}
        {% if (states) %}
        </p>
        {% endif %}
        {% endblock %}
    </div>
    
    <iframe style="border:1px dashed red" name="form-frame" width="100%" height="200"></iframe>

</form>
{% endblock %}
