{% extends 'layout.html' %}

{% import '_forms.html' as forms %}

{% block main %}
<form method="post" target="form-frame" action="{% block form_action %}{{ link.self.includeQuery }}{% endblock %}" {% block form_type %}{% if (block('form_type_upload')) %}enctype="multipart/form-data"{% endif %}{% endblock %}>

    {% block form_lead %}{% endblock %}

    {% block form_main %}
    <div class="fields">
        {% block form_fields %}{% endblock %}
    </div>
    {% endblock %}
    
    <div class="buttons">
        {% block form_buttons %}
        <p class="left">
            {% block form_buttons_buttons %}
            <button class="primary" type="submit">{{ "Submit"|t }}</button>
            {% endblock %}
            {% if (states) %}
            <span style="margin-left:2em">{{ forms.radio_collection('state_id', f.state_id is defined ? f.state_id : false, states) }}</span>
            {% endif %}
            {% if (block('form_buttons_back_link')) %}{% block form_buttons_back %}<a class="back" style="margin-left:2em" href="{% block form_buttons_back_link none %}">{{ "back"|t }}</a>{% endblock %}{% endif %}
        </p>
        {% endblock %}
    </div>

</form>
{% endblock %}
