{% extends '_templates/module.default.html' %}

{% block form_action %}
<a href="{{ link.to("@/@/create/$id", page) }}">{% block form_action_name %}{{ "Create new Item"|t }}{% endblock %}</a>
{% endblock %}

{% block main_content %}
{% if (data|length) %}
<div class="posts">
    {% for item in data %}
    {% block main_content_item %}
    <div class="post state-{{ item.state.name|asciize|default('default') }}">
    {% block main_content_post %}

        {% if (item.image) %}
        <div class="image"><a href="{{ link.to(':admin/update', item) }}"><img src="{{ item.image('250x250m') }}"></a></div>
        {% endif %}
        <div class="inner">
            <div class="name">
                {% if (item.state is not none) %}
                {% if (item.state_id != 1) %}<span class="tag state-{{ item.state.name|asciize }}">{{ item.state.name|t }}</span>{% endif %}
                {% endif %}
                <a href="{{ link.to(':admin/update', item) }}">{{ item.name|default("(untitled)"|t) }}</a><span></span>
            </div>
            <div class="content">
                {% block post_content %}
                {{ item.content|p|line(-1)|default("-") }}
                {% endblock %}
            </div>
            <div class="aside">
                {%- if (item.published_at) -%}
                {{- "Published on"|t }}
                <span>{{ item.published_at|tDateTime }}</span>
                    {%- if (item.updated_at and item.updated_at|toTs - item.published_at|toTs > 18000) -%}
                    , {{ "updated on"|t }}
                    <span>{{ item.updated_at|tDateTime }}</span>
                    {%- endif -%}
                {%- else -%}
                {{- "Last updated on"|t }}
                <span>{{ item.updated_at|tDateTime }}</span>
                {%- endif -%}
            </div>
        </div>

    {% endblock %}
    </div>
    {% endblock %}
    {% endfor %}
</div>
{% else %}
{% block main_content_empty %}
<div>
    
    <p>{% block main_content_empty_caption %}{{ "No items found."|t }}{% endblock %}</p>
    
</div>
{% endblock %}
{% endif %}
{% endblock %}
