{% extends 'update.html' %}

{% block title %}{{ "New Medium"|t }}{% endblock %}

{% block form_type_upload %}YES{% endblock %}

{% block form_secondary %}
<fieldset>

	{{ forms.p('file', flash) }}
		{{ forms.label('file', null, 'required') }}
		<span class="fieldset">
			{{ forms.file('file') }}
		</span>
	</p>

</fieldset>
{% endblock %}

{% block form_buttons %}

	<button class="primary" type="submit">{{ "Upload new file"|t }}</button>
	<a class="back" href="{{ link.returnTo(":section") }}">{{ "back"|t }}</a>
	
{% endblock %}
