{% extends '_templates/form.html' %}

{% block title %}{{ 'Account Login'|t }} / {{ site.name }}{% endblock %}

{% block main %}
<div class="modalish">{{ parent() }}</div>
{% endblock %}

{% block form_fields %}
    
    <h2>{{ 'Account Login'|t }}</h2>
    
    {{ forms.p('email', flash) }}
        {{ forms.label('email') }}
        {{ forms.input('email', f.name) }}
    </p>
    {{ forms.p('password', flash) }}
        {{ forms.label('password') }}
        {{ forms.password('password') }}
    </p>
        
{% endblock %}

{% block form_buttons_buttons %}
<button class="primary" type="submit">{{ "Sign in"|t }}</button>
{% endblock %}

{% block script %}
<script>
if (window != top.window){
    top.location = location.href;
}
$(function(){
    
    $('form:first').data('success', 'true').bind('success', function(e, data){
        location = data.redir;
    });
    
});
</script>
{% endblock %}