{% extends 'layout.html' %}

{% block title %}{{ "Admins"|t }}{% endblock %}

{% block container_title_actions %}
<a href="{{ link.to(":create") }}">{{ "Create new"|t }} &rarr;</a>
{% endblock %}

{% block content %}

	{% if (data) %}
	<table cellspacing="0" width="100%">

		<thead>
			<tr>
				<th width="50%">{{ "Name"|t }} &uarr;</th>
				<th width="50%">{{ "Email"|t }}</th>
				<th width="1">&nbsp;</th>
				<th width="1" class="nowrap ar">{{ "Created At"|t }}</th>
				<th width="1">&nbsp;</th>
			</tr>
		</thead>
		<tbody>

			{% for item in data %}
			<tr class="{{ cycle(["even", "odd"], loop.index) }}">
				<td><a href="{{ link.toReturn(":update", item) }}" class="strong">{{ item.name }}</a></td>
				<td>{{ item.email }}</td>
				<td class="tag">{% if (item.is_admin) %}<span class="green">{{ "Admin"|t }}</span>{% endif %}</td>
				<td class="tiny gray nowrap ar">{{ item.created_at|tDateTime }}</td>
				<td class="nowrap">
					<a href="{{ link.toReturn(":update", item) }}">{{ "Update"|t }}</a> |
					<a href="{{ link.toReturn(":delete", item) }}" onclick="return confirm('Are you sure to delete this entry?')">{{ "Delete"|t }}</a>
				</td>
			</tr>
			{% endfor %}

		</tbody>
		<tfoot>
			<tr>
				<td colspan="7">&nbsp;</td>
			</tr>
		</tfoot>

	</table>
	{% else %}
	<p>
		
		Oops, no items found&hellip;
		
	</p>
	{% endif %}
	
{% endblock %}